// Colores base
$color-thistle: #CABAC8;          // Un tono suave y elegante
$color-red: #FF101F;              // Color fuerte para acciones importantes
$color-uranian-blue: #B2DDF7;     // Azul claro para resaltados
$color-non-photo-blue: #81D6E3;   // Tono fresco para destacar secciones
$color-verdigris: #4CB5AE;        // Verde suave para elementos interactivos

// Colores complementarios
$color-dark-slate-blue: #2e4057;  // Color oscuro para textos o fondos contrastantes
$color-ivory: #F8F4E3;            // Tono claro para fondo neutro
$color-jet: #333333;               // Negro suave para texto o fondos profundos
$color-goldenrod: #FFD700;         // Amarillo dorado para botones o notificaciones
$color-deep-aqua: #006994;        // Tono profundo de azul para resaltar secciones
